.s-welcome-banner{
  background: url('/projeto_1/assets/img/banner2.jpg') no-repeat center/ cover;
  height: 250px; 
}

.s-welcome--content{
  display: flex;
  padding: 40px;
}

.s-welcome-banner-aside{
  background: url('/projeto_1/assets/img/banner3.jpg') no-repeat center/ cover;
  width: 100%;
}

.s-welcome-description{
  margin-left: 35px;
}

.s-welcome--button{
  background-color: var(--color-blue);
  padding: 10px 20px;
  transition: .5s;
  color: var(--color-white);
  cursor: pointer;
}

.s-welcome--button:hover{
  background-color: var(--color-hover);
}

.s-welcome--content--title{
  color: var(--color-blue);
  font-size: 2rem;
  margin-top: 40px;
  margin-left: 35px;
}

.s-welcome-description--text{
  line-height: 1.5;
  font-size: 1.1rem;
  margin-bottom: 30px;
  text-align: justify;
}


