.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(235, 235, 240);
  padding: 40px 0;
}

.header-box{
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 1.5;
}

.img-header{
  width: 150px;
}
.navigation--menu{
  display: flex;
  gap: 20px;
  
}
.navigation--link{
 line-height: 1.5;
color: black; 
transition: all 0.5s ease-in-out;
background-color: rgb(140, 140, 189);
padding: 10px;
border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.185);
}

.navigation--link:hover{
  background-color: rgb(201, 201, 218);
}

