.proj1{
  background: url('/udemy_business/Flexbox_e_responsivo/assets/image/proj1.jpg') no-repeat center/cover;
}

.proj2{
  background: url('/udemy_business/Flexbox_e_responsivo/assets/image/proj2.jpg') no-repeat center/cover;
}

.proj3{
  background: url('/udemy_business/Flexbox_e_responsivo/assets/image/proj3.jpg') no-repeat center/cover;
}