.skills-container--title{
  color: #ed1e24;
  font-size: 20px;
}

.skills-container--subtitle{
  font-weight: bold;
  color: #ED1E24;
  margin-top: 50px;
  margin-bottom: 15px;
}

.skills-container--text{
  line-height: 25px;
}