.skills_section{
  margin-top: -100px;
  background-color: #FFF;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #DDD;
  border-radius: 10px;
}
@media(min-width:1024px){
  .skills_section{
    width: 80%;
  }
}