.main{
  width: 90%;
  margin: auto;
}

.section{
  padding: 32px 0;
}

.artible-box{
  background-color: white;
  padding: 16px;
  margin-bottom: 32px;
}

.artible-box--title{
  background-color: #eee;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.artible-box--text{
  margin-bottom: 20px;
  line-height: 1.3;
}

.artible-box--link{
  background-color: #cdc7c3;
  padding: 12px;
  color: black;
  display: block;
  border-radius: 6px;
  margin-left: auto;
  width: 120px;
  text-align: center;
  transition: all 0.5 ease-in-out;
}

.artible-box--link:hover{
  background-color: #aca39e;
}