.skills_section--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(min-width:1024px){
  .skills_section--container{
    display: flex;
    flex-direction: row;
  }
}